<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
</head>
<body>
{{> page/nav}}
<div class="container" style="margin-top: 80px">
  <h3>Rekap Absensi</h3>
  <div style="width: 50%; height: 50%">
    <canvas id="myChart" width="1" height="1"></canvas>
  </div>
  <h3>Kalender Perusahaan</h3>
  <div id="calendar">
    
  </div>
    {{#if user.is_admin}}
    <div class="col-md-4">
    <h3>Tambah Cuti Tahunan Karyawan</h3>
    </div>
    <div class="col-md-3">
    <form class="form-horizontal col-sm-12" id="form_row" action="" method="POST" style="margin-top:20px">
    <button style="margin-bottom:20px" type="submit" name="accept" class="btn btn-default">Tambah Cuti Tahunan Karyawan</button>
    </form>
    </div>
    <div class="col-md-5"></div>
    {{/if}}

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
  var ctx = $('#myChart');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
        "Belum Hadir",
        "Hadir",
        "Terlambat"
      ],
      datasets: [
        {
          data: [{{attendances}}],
          backgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ],
          hoverBackgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
          ]
        }]
    }
  });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        events: [
          {{#each employees}}
            {
              title: '{{this.name}}',
              start: '{{this.birthday}}',
              description: 'Ulang Tahun'
            },
          {{/each}}
          {{#each day_offs}}
            {
              title: '{{this.employee.name}}',
              start: '{{this.start_date}}',
              end: '{{this.end_date}}',
              backgroundColor: "#FF9F1C",
              url: '{{this.url}}',
              description: 'Cuti'
            },
          {{/each}}
        ]
    });
  });
</script>
<!--<script type="text/javascript" src="/js/custom.js"></script>-->
</html>