<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
</head>

<body>
  {{> page/nav}}
  <div class="container" style="margin-top:80px">
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                         aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}
    <h1 class="text-center" style="margin-bottom:30px">Detail Permintaan Cuti</h1>
    {{#if user.is_admin}}
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <form class="form-horizontal col-sm-12" id="form_row" action="" method="POST" style="margin-top:20px">
    <table class="table table-user-information" id="detailTable">
      <tbody>
        <tr style="background-color:#0fa3b1; color:white">
                <td class="text-left col-sm-4" >Nama Karyawan</td>
                <td class="text-left">{{permit.Employee.name}}</td>
            </tr>
        <tr>
          <td>ID Pengajuan</td>
          <td>{{permit.id}}</td><input type="hidden" name="permitID" value="{{permit.id}}">
        </tr>
        <tr>
          <td>ID Employee</td>
          <td>{{permit.Employee.employee_no}}</td>
        </tr>
        <tr>
          <td>Tanggal Cuti</td>
          <td>{{startoff_date}} s/d {{endoff_date}}</td>
        </tr>
        <tr>
          <td>Alasan Cuti</td>
          <td>{{permit.dayoff_type}}</td>
        </tr>
        {{#if permit.employee_note}}
          <tr>
          <td>Keterangan Cuti</td>
          <td>{{permit.employee_note}}</td>
        </tr>
        {{/if}}
        {{#if permit.approval_date}}
          <tr>
          <td>Tanggal Disetujui</td>
          <td>{{permit.approval_date}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>Catatan Atasan</td>
          <td>{{permit.superior_note}}</td>
        </tr>
          <tr>
          <td>Status Cuti</td>
          <td>{{permit.approval_status}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{permit.Employee.email}}</a></td>
      </tbody>
    </table>
    </form>
  
    </div>
    <div class="col-md-2"></div>
    {{else}}
    {{#if oneDivision}}
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <form class="form-horizontal col-sm-12" id="form_row" action="" method="POST" style="margin-top:20px">
    <table class="table table-user-information" id="detailTable">
      <tbody>
        <tr style="background-color:#0fa3b1; color:white">
                <td class="text-left col-sm-4" >Nama Karyawan</td>
                <td class="text-left">{{permit.Employee.name}}</td>
            </tr>
        <tr>
          <td>ID Pengajuan</td>
          <td>{{permit.id}}</td><input type="hidden" name="permitID" value="{{permit.id}}">
        </tr>
        <tr>
          <td>ID Employee</td>
          <td>{{permit.Employee.employee_no}}</td>
        </tr>
        <tr>
          <td>Tanggal Cuti</td>
          <td>{{startoff_date}} s/d {{endoff_date}}</td>
        </tr>
        <tr>
          <td>Alasan Cuti</td>
          <td>{{permit.dayoff_type}}</td>
        </tr>
        {{#if permit.employee_note}}
          <tr>
          <td>Keterangan Cuti</td>
          <td>{{permit.employee_note}}</td>
        </tr>
        {{/if}}
        {{#if permit.approval_date}}
          <tr>
          <td>Tanggal Disetujui</td>
          <td>{{permit.approval_date}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>Catatan Atasan</td>
          <td>{{permit.superior_note}}</td>
        </tr>
          <tr>
          <td>Status Cuti</td>
          <td>{{permit.approval_status}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{permit.Employee.email}}</a></td>
      </tbody>
    </table>
    </form>
  
    </div>
    <div class="col-md-2"></div>
    {{/if}}
    {{/if}}


  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/dayoff-detail.js"></script>
</body>
</html>