<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
</head>

<body>
{{> page/nav}}
  <div class="container" style="margin-top:80px">
    {{#unless user.is_admin}}
      <div class="alert alert-info text-center">
        <div class="panel-body"><strong>Maaf, Anda tidak memiliki akses ke laman ini.</strong></br></br><a href="/dashboard">Kembali ke Beranda ></a></div>
      </div>
    {{/unless}}
    {{#if user.is_admin}}
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                         aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}
    <h1 class="text-center" style="margin-bottom:30px">Penambahan Cuti</h1>
    <form class="form-horizontal col-sm-12" id="form_row" action="" method="POST" style="margin-top:20px">
    <button type="submit" name="accept" class="btn btn-default">Tambah Cuti Karyawan Tahunan</button>
    </form>
    {{/if}}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/dayoff-detail.js"></script>
</body>
</html>