<!DOCTYPE html> 
<html>
  <head>
    <title>Auto Personalia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body>
  {{> page/nav}}
    <div class="container" style="margin-top:80px">
      <ol class="breadcrumb">
        <li><a href="#">Beranda</a></li>
        <li><a href="/dayoff">Cuti</a></li>
        <li class="active">Lihat Status Cuti</li>
      </ol>
      <h1 class="text-center">Daftar Pengajuan Cuti</h1>
      {{#if message}}
            <div class="alert alert-info alert-dismissable">  <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a><strong>Info: </strong>{{message}} </div>
      {{/if}}
      <div class="table-responsive">
        <table class="table table-striped" id="dayoff_table">
            <thead>
              <tr>
                <th>ID Cuti</th>
                <th>Tanggal Pengajuan</th>
                <th>Tipe Cuti</th>
                <th>Status Pengajuan</th>
                <th>Tanggal Mulai Cuti</th>
                <th>Tanggal Selesai Cuti</th>
              </tr>
            </thead>
            <tbody>
              {{#each permit_histories}}               
              <tr data-toggle="modal" data-target="#dayoffModal" class="table_entry" data-reqdate="{{this.request_date}}" data-type="{{this.type}}" data-approval="{{this.approval_status}}" data-dayoffdate="{{this.start_date}}" data-enddate="{{this.end_date}}" data-empnote="{{this.employee_note}}" data-supnote="{{this.superior_note}}">
                <td>{{this.id}}</td>
                <td>{{this.reqoff_date}}</td>
                <td>{{this.dayoff_type}}</td>
                <td>{{this.approval_status}}</td>
                <td>{{this.startoff_date}}</td>
                <td>{{this.endoff_date}}</td>
              </tr>
            {{/each}}         
          </tbody>
        </table>
      </div>
      
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <script type="text/javascript" src="/js/dayoff_view.js"></script>
</html>