<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
</head>

<body>
{{> page/nav}}
  <div class="container" style="margin-top:80px">
    <ol class="breadcrumb">
        <li><a href="#">Beranda</a></li>
        <li><a href="/employee">Karyawan</a></li>
        <li class="active">{{employee.name}}</a></li>
      </ol>
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}

    {{#if employee.name}}
      <h1 class="text-center" style="margin-bottom:30px">{{employee.name}}</h1>
    {{/if}}
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <table class="table">
      <tbody>
        
            {{#if employee.employee_no}}
            <tr style="background-color:#0fa3b1; color:white">
                <td class="text-left col-sm-4" >Nomor Karyawan</td>
                <td class="text-left">{{employee.employee_no}}</td>
            </tr>
            {{/if}}
            {{#if employee.nik}}
            <tr>
                <td class="text-left">NIK</td>
                <td class="text-left">{{employee.nik}}</td>
            </tr>
            {{/if}}
            {{#if employee.id_job_title}}
            <tr>
                <td class="text-left">Jabatan</td>
                <td class="text-left">{{employee.Job.job_title}}</td>
            </tr>
            {{/if}}
            {{#if employee.email}}
            <tr>
                <td class="text-left">E-mail</td>
                <td class="text-left">{{employee.email}}</td>
            </tr>
            {{/if}}
            {{#if employee.address}}
            <tr>
                <td class="text-left">Alamat</td>
                <td class="text-left">{{employee.address}}</td>
            </tr>
            {{/if}}
            {{#if employee.date_of_birth}}
            <tr>
                <td class="text-left">Tempat, Tanggal Lahir</td>
                <td class="text-left">{{employee.place_of_birth}}, {{date_of_birth}}</td>
            </tr>
            {{/if}}
            {{#if employee.phone_no}}
            <tr>
                <td class="text-left">No Handphone</td>
                <td class="text-left">{{employee.phone_no}}</td>
            </tr>
            {{/if}}
            {{#if employee.telp_no}}
            <tr>
                <td class="text-left">No Telepon</td>
                <td class="text-left">{{employee.telp_no}}</td>
            </tr>
            {{/if}}
            {{#if employee.join_date}}
            <tr>
                <td class="text-left">Tanggal Bergabung</td>
                <td class="text-left">{{join_date}}</td>
            </tr>
            {{/if}}
            {{#if employee.retire_date}}
            <tr>
                <td class="text-left">Tanggal Keluar</td>
                <td class="text-left">{{retire_date}}</td>
            </tr>
            {{/if}}
            {{#if employee.salary}}
            <tr>
                <td class="text-left">Gaji</td>
                <td class="text-left">{{employee.salary}}</td>
            </tr>
            {{/if}}
      </tbody>
    </table>
    {{#if user.is_admin}}
    <a class="btn" href="/employee/edit/{{employee.id}}">Ubah Data</a>
    {{/if}}
    {{#if can_delete}}
    <a class="btn" href="/employee/delete/{{employee.id}}">Hapus Karyawan</a>
    {{/if}}
    </div>
    <div class="col-md-2"></div>
    
    
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>