<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
{{> page/nav}}

  <div class="container" style="margin-top:80px">
    <ol class="breadcrumb">
      <li><a href="#">Beranda</a></li>
      <li><a href="/dayoff">Cuti</a></li>
      <li class="active">Ajukan Cuti</li>
    </ol>

    <h1 class="text-center">Ajukan Cuti</h1>
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}

    {{#unless accessDO}}
      <div class="alert alert-info text-center">
        <div class="panel-body"><strong>Maaf, Anda tidak dapat mengajukan cuti karena tidak memiliki jatah cuti.</strong></br></br><a href="/">Kembali ke Beranda ></a></div>
      </div>
    {{/unless}}

    {{#if accessDO}}
    <form class="form-horizontal" style="margin-top:20px" action="" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2" for="day_off_date">Tanggal Mulai Cuti</label>
        <div class="col-sm-8">
          <input type="chosenDate" class="form-control" id="day_off_date" name="day_off_date" readonly="readonly" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="end_date">Tanggal Selesai Cuti</label>
        <div class="col-sm-8">
          <input type="chosenDate" class="form-control" id="end_date" name="end_date" readonly="readonly" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="request_type">Jenis Izin</label>
        <div class="col-sm-8">
          <select class="form-control" id="request_type" name="request_type" required>
            <option value="sakit">Sakit</option>
            <option value="izin">Izin</option>
            <option value="cuti">Cuti</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="employee_note">Keterangan Izin</label>
        <div class="col-sm-8">
          <textarea type="text" class="form-control" id="employee_note" form="form-group" placeholder="Masukkan alasan izin"
                name="employee_note" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-5">
          <button type="submit" class="btn btn-default" style="margin-top:10px">Ajukan</button>
        </div>
      </div>
    </form>
    {{/if}}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/dayoff.js"></script>
</body>
</html>
