<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
{{> page/nav}}

  <div class="container" style="margin-top:80px">
    {{#unless user.is_admin}}
      <div class="alert alert-info text-center">
        <div class="panel-body"><strong>Maaf, Anda tidak memiliki akses ke laman ini.</strong></br></br><a href="/dashboard">Kembali ke Beranda ></a></div>
      </div>
    {{/unless}}
    {{#if user.is_admin}}
    <ol class="breadcrumb">
      <li><a href="#">Beranda</a></li>
      <li><a href="/employee">Karyawan</a></li>
      <li class="active">Tambah Karyawan</li>
    </ol>

    <h1 class="text-center">Tambah Karyawan</h1>
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}
    <form class="form-horizontal" style="margin-top:20px" action="" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2" for="employee_no">ID Karyawan</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="employee_no" name="employee_no" placeholder="Masukkan ID" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Nama</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="name" name="name" placeholder="Masukkan Nama" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email" name="email" placeholder="Masukkan Email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="jobList">Jabatan</label>
        <div class="col-sm-8">
          <select class="form-control" id="jobList" name="job_id">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="phone">Nomor HP</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="phone" name="phone_no" pattern="[0-9]{1,}" placeholder="Masukkan No. HP" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="telp_no">Nomor Telepon Rumah</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="telp_no" name="telp_no" pattern="[0-9]{1,}" placeholder="Masukkan No. Telepon Rumah">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="nik">NIK</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nik" pattern="[0-9]{1,}" placeholder="Masukkan NIK"
                name="nik" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="address">Alamat</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="address" placeholder="Masukkan Alamat"
                name="address">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Jenis Kelamin</label>
        <div class="col-sm-8">
          <select class="form-control" id="gender" name="gender" required>
            <option value="male">Pria</option>
            <option value="female">Wanita</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="tanggal-masuk">Tanggal Masuk</label>
        <div class="col-sm-8">
          <input type="tanggal" class="form-control" id="tanggal-masuk" name="join_date" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="tempat-lahir">Tempat Lahir</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="tempat-lahir" placeholder="Masukkan Tempat Lahir"
                name="place_of_birth" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="tanggal-lahir">Tanggal Lahir</label>
        <div class="col-sm-8">
          <input type="tanggal" class="form-control" id="tanggal-lahir" name="date_of_birth" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="tanggal-lahir">Gaji</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="salary" name="salary" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="admin">Akses Admin</label>
        <div class="col-sm-8">
          <select class="form-control" id="admin" name="is_admin" required>
            <option value="0">Tidak</option>
            <option value="1">Ya</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-5">
          <button type="submit" class="btn btn-default" style="margin-top:10px">Selesai</button>
        </div>
      </div>
    </form>
    {{/if}}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/employee.js"></script>
</body>
</html>
