<!DOCTYPE html>
<html>
<head>
  <title>Auto Personalia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
{{> page/nav}}
  <div class="container" style="margin-top:80px">
    <ol class="breadcrumb">
        <li><a href="#">Beranda</a></li>
        <li class="active">Karyawan</li>
      </ol>
    {{#if message}}
      <div class="alert alert-info alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                         aria-label="close">x</a><strong>Info: </strong>{{message}}</div>
    {{/if}}
    <h1 class="text-center" style="margin-bottom:30px">Daftar Karyawan</h1>
    <table class="table table-striped" id="employeeTable">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Nama</th>
          <th class="text-center">Email</th>
          <th class="text-center">Pekerjaan</th>
          {{#if user.is_admin}}
          <th class="text-center"></th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#if user.is_admin}}
        {{#each employees}}
            <tr>
                <td class="text-center">{{this.employee_no}}</td>
                <td class="text-center">{{this.name}}</td>
                <td class="text-center">{{this.email}}</td>
                <td class="text-center">{{this.Job.job_title}}</td>
                <td class="text-center"><a href="/employee/detail/{{this.id}}">Lihat Profil</a></td>
            </tr>
        {{/each}}
        {{else}}
        {{#each employees}}
            <tr>
                <td class="text-center">{{this.employee_no}}</td>
                <td class="text-center">{{this.name}}</td>
                <td class="text-center">{{this.email}}</td>
                <td class="text-center">{{this.Job.job_title}}</td>
            </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>