<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employee Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
</head>

<body>
{{> page/nav}}

<div class="container" style="margin-top:80px">
  <ol class="breadcrumb">
    <li><a href="/dashboard">Beranda</a></li>
    <li class="active">Kehadiran</li>
  </ol>
  {{#unless user.is_admin}}
    <div class="alert alert-info text-center">
      <div class="panel-body"><strong>Maaf, Anda tidak memiliki akses ke laman ini.</strong></br></br><a
              href="/dashboard">Kembali ke Beranda ></a></div>
    </div>
  {{/unless}}
  {{#if user.is_admin}}
    Pastikan file yang diupload sesuai format. Contoh file dapat didownload disini:
    <a href="/download/csv">Unduh contoh file CSV</a>

    </br>
    </br>

    {{#if message}}
      <div class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        <strong>Info: </strong>{{message}}
      </div>
    {{/if}}

    <div class="row">
      <form class="form-horizontal" id="form_row" action="" method="POST" enctype="multipart/form-data">

        <div class="col-xs-10">
          <div class="input-group">
            <input type="text" class="form-control" readonly>

            <label class="input-group-btn">
            <span class="btn btn-primary">
                Browse File&hellip; <input type="file" style="display: none;" name="csv">
          </span>
            </label>

          </div>
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block" disabled>Upload</button>
        </div>

      </form>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-3">
        Filter by:
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <select class="form-control" id="filterDivision" onchange="filterBy('division');">
          <option value="All Division">All Division</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="filterJobTitle" onchange="filterBy('job');">
          <option value="All Job">All Job</option>

        </select>
      </div>
    </div>
    </br>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="tableAbsent">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Divisi</th>
          <th>Jabatan</th>
          <th data-th="Lastrun" data-order="[unixTimestamp]">Tanggal</th>
          <th>Jam Datang</th>
          <th>Jam Pulang</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Divisi</th>
          <th>Jabatan</th>
          <th>Tanggal</th>
          <th>Jam Datang</th>
          <th>Jam Pulang</th>
        </tr>
        </tfoot>
        <tbody>
        {{#each attendances}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{division}}</td>
            <td>{{job}}</td>
            <td>{{absent_date}}</td>
            <td>{{in}}</td>
            <td>{{out}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="/js/attendance.js"></script>

</body>

</html>