<!DOCTYPE html>
<html>

<head>
    <title>Auto Personalia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/idx.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class='nav'>

        <nav>
            <div class="navbar-header">
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <button onclick="jump('sec-aboutus');" class='button-nav'>Tentang Kami</button>
                <button id='tologin' class='button-nav'>Coba Sekarang!</button>
                <button onclick="jump('sec-contactus');" class='button-nav'>Kontak Kami</button>
            </div>
        </nav>

    </div>
    <div class='page'>
        <section class='hero'>
            <div class='cta'><span>Auto Personalia</span></div>
            <button class='button-cta' id='tologin-2'>Coba Sekarang!</button>
        </section>
        <section class='aboutus'>
            <div class='section-name' id='sec-aboutus'>Tentang Auto Personalia</div>
            <div class='section-title'>Tentang Kami</div>
            <section class='second-cta' style="margin-top:40px">
                <h2 class='negative'><strong>Sistem Automasi Personalia untuk Perusahaan</strong></h2>
                <h4 class='negative' style="margin-top:40px">Selamat datang di Auto Personalia! </br>Kami hadir untuk menyediakan sistem pengelolaan data karyawan terintegrasi terkini secara gratis.</br>
                    </br><strong>Karena waktu Anda berharga.</strong></br>
                    </br><strong>Manajemen Data Perusahaan Anda</strong></br> Kelola semua data karyawan, divisi, gaji, dan kehadiran Anda secara terintegrasi dalam sistem. Anda dapat dengan mudah menambah, mengubah, atau menghapus data yang ada. Semuanya
                    dapat diakses dengan lebih mudah dan cepat!</br>
                    </br><strong>Teknologi canggih yang cuma-cuma</strong></br>Gunakan Auto Personalia secara cuma-cuma dan rasakan bagaimana Auto Personalia dapat mempermudah semua pekerjaan personalia dalam perusahaan Anda!
                </h4>
            </section>
        </section>
        <section class='contactus'>
            <div class='section-name' id='sec-contactus'>Kontak Kami</div>
            <section class='third-cta' style="margin-top:40px">
                <h1>auto.personalia.ppl@gmail.com</h1>
            </section>
        </section>
        <section class='footer'>
            <svg id='scrollup' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200.387 200.387" style="enable-background:new 0 0 200.387 200.387;" xml:space="preserve" width="28px" height="28px"><g><g><g><polygon points="5.504,154.449 0,149.102 100.197,45.938 200.387,149.102 194.893,154.449 100.197,56.947         " fill="#f3bf02"/></g></g><polygon points="100.197,45.938 0,149.102 5.504,154.449 100.197,56.947 194.893,154.449 200.387,149.102     " fill="#f3bf02"/></g>
      </svg>
            <div class='copy'>&copy;2016. PPLB3, PPL Cermati Ceria.</div>
        </section>

    </div>
    </div>

</body>
<script type="text/javascript" src="/js/idx.js"></script>

</html>