<!DOCTYPE html>
<html>
  <head>
    <title>Auto Personalia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  {{> page/nav}}
    <div class="container" style="margin-top:80px">
       {{#unless user.is_admin}}
      <div class="alert alert-info text-center">
        <div class="panel-body"><strong>Maaf, Anda tidak memiliki akses ke laman ini.</strong></br></br><a href="/dashboard">Kembali ke Beranda ></a></div>
      </div>
    {{/unless}}
    {{#if user.is_admin}}
      <ol class="breadcrumb">
        <li><a href="/dashboard">Beranda</a></li>
        <li><a href="/job">Perusahaan</a></li>
        <li class="active">Buat Struktur dan Jabatan</li>
      </ol>
      <h1 class="text-center">Buat Struktur dan Jabatan</h1>
      {{#if message}}
        <div class="alert alert-info alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
          <strong>Info: </strong>{{message}}
        </div>
      {{/if}}
      <form class="form-horizontal col-sm-12" id="form_row" action="" method="POST">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="job_title">Jabatan</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="job_title" id="job_title" placeholder="Masukkan Jabatan" form="form_row" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="supervisor">Atasan</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" list="supervisors" name="supervisor" placeholder="Masukkan Atasan" form="form_row" autocomplete="off">
            <datalist id="supervisors"></datalist>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="division">Divisi</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" list="divisions" name="division" placeholder="Masukkan Divisi" form="form_row" autocomplete="off" required>
            <datalist id="divisions"></datalist>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-5">
            <button type="submit" class="btn btn-default">+ Tambah Jabatan</button>
          </div>
        </div>
      </form>
      {{/if}}
    </div>
  </body>
  <script type="text/javascript" src="/js/job-create.js"></script>
</html>