<!DOCTYPE html> 
<html>
  <head>
    <title>Auto Personalia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body>
  {{> page/nav}}
    <div class="container" style="margin-top:80px">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Beranda</a></li>
        <li><a href="/job">Perusahaan</a></li>
        <li class="active">Lihat Struktur Perusahaan</li>
      </ol>
      <h1 class="text-center">Struktur Perusahaan</h1>
      <div class="table-responsive" style="margin-top:20px">
        <table class="table table-striped" id="gentable">
          <thead>
            <tr>
              <th>Nomor ID</th>
              <th>Jabatan</th>
              <th>Atasan</th>
              <th>Divisi</th>
            </tr>
          </thead>
          {{#if message}}
            <div class="alert alert-info alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a><strong>Info: </strong>{{message}}
            </div>
          {{/if}}
          <tbody>
            {{#each jobs}}               
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.job_title}}</td>
              <td>{{this.supervised.supervisor}}</td>
              <td>{{this.Division.division_name}}</td>
            </tr>
            {{/each}}         
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
</html>