<!DOCTYPE html>
<html>

<head>
  <title>Auto Personalia - Masuk</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body style="background: url('/img/login-background.jpg');         background-size: cover;
" id="login-body">
    <div class="container">
        <div id="login-container" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Masuk</h3>
                    </div>
                </div>
                <div class="panel-body">
                    {{message}}
                    <form action="" method="post" id="login">
                        <div style="margin-bottom: 10px">
                            <label class=" control-label col-sm-3">Email:</label>
                            <div class="col-sm-9" style="margin-bottom: 10px">
                                <input type="text" name="email" required/>
                            </div>
                        </div>
        <div>
          <label  class=" control-label col-sm-3">Kata Sandi:</label>
          <div class="col-sm-9" style="margin-bottom: 10px">
          <input type="password" name="password" required/>
            <div class="checkbox">
              <input type="checkbox" value="" id="show-password">
              <label style="float:right">Show Password</label>
            </div>
          </div>
        </div>
        <br>
        <div>
          <div class="  col-sm-offset-3 col-sm-9">
          <input type="submit" class="btn btn-primary btn-sm" value="Masuk" id="login-button" style="float: right; width: 30%"/>
          <br/>
          <br/>
          <a href="register"><input class="btn btn-primary btn-sm" value="Daftar" id="register-button" style="float: right; width: 30%"/></a>
        </div>
        </div>
      </form>
      <br/><br/><br/>
      </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
          hidden = true;
          $('#show-password').click(function() {
             if (hidden) $('input[name="password"]').attr('type', 'text');
             else {
                 console.log(hidden);
                 $('input[name="password"]').attr('type', 'password');
             }
             hidden = !hidden;
          });
      })
    </script>
  </body>
</html>