<!DOCTYPE html>
<html>
  <head>
  <title>Auto Personalia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body style="background: url('/img/login-background.jpg') 100%">
    <div class="container">
      <div id="multiform_box" style="padding: 20px;" class="mainbox col-md-8 col-md-offset-2 ">
        <h1 align="center">Daftar Auto Personalia</h1>

        <br><br>
        
        <div class="col-md-12">   
        <form id="registerForm" class="form-horizontal" action="" method="POST">
	
          <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>    

          <div class="step well">
            {{#if message}}
              <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <strong>Info: </strong>{{message}}
              </div>
            {{/if}}
              <h3>Informasi Perusahaan</h3>
            <div class="form-group">
              <label for="company_name" required>Nama Perusahaan</label>
              <input type="text" class="form-control" id="company_name" name="company_name" required>
            </div>
            <div class="form-group">
              <label for="company_address" >Alamat Perusahaan</label>
              <input type="text" class="form-control" id="company_address" name="company_address" required>
            </div>
            <div class="form-group">
              <label for="company_description" required>Deskripsi Perusahaan</label>
              <textarea type="text" class="form-control" id="company_description" name="company_description" required></textarea>
            </div>
          </div>
          <div class="step well">
              <h3>Informasi Pribadi</h3>
            <div class="form-group">
              <label for="employee_name" required>Nama</label>
              <input type="text" class="form-control" id="employee_name" name="name" required>
            </div>
            <div class="form-group">
              <label for="employee_email" required>Email</label>
              <input type="text" class="form-control" id="employee_email" name="email" required>
            </div>
            <div class="form-group">
              <label for="employee_id" required >ID Karyawan</label>
              <input type="text" class="form-control" id="employee_id" name="employee_no" required>
            </div>
            <div class="form-group">
            <label for="employee_hp" required>No. HP</label>
            <input type="text" class="form-control" id="phone_no" name="phone_no" pattern="[0-9]{1,}"  placeholder="Masukkan No. HP" required>
            </div>
            <div class="form-group">
              <label for="employee_phone">No. telpon</label>
              <input type="text" class="form-control" id="telp_no"  name="telp_no" pattern="[0-9]{1,}" placeholder="Masukkan No. Telepon Rumah" >
            </div>
            <div class="form-group">
              <label for="employee_nik" required>NIK</label>
              <input type="text" class="form-control" id="employee_nik" name="nik" pattern="[0-9]{1,}" required>
            </div>
            <div class="form-group">
              <label for="employee_address" >Alamat</label>
              <input type="text" class="form-control" id="employee_address" placeholder="Masukkan Alamat"
                name="address">
            </div>
            <div class="form-group">
              <label for="gender" >Jenis Kelamin</label>
              <select class="form-control" id="gender" name="gender" required>
                <option value="male">Pria</option>
                <option value="female">Wanita</option>
              </select>
            </div>
            <div class="form-group">
              <label for="place_of_birth" required>Tempat Lahir</label>
              <input type="text" class="form-control" id="place_of_birth" placeholder="Masukkan Tempat Lahir"
                name="place_of_birth" required>
            </div>
            <div class="form-group">
              <label for="date_of_birth" required>Tanggal Lahir</label>
              <input type="tanggal" class="form-control" id="date_of_birth" name="date_of_birth" required>
            </div>
		      </div>

    	    <div class="step well">
      		    <div class="form-group">
                <label for="join_date" required>Tanggal Masuk Perusahaan</label>
                <input type="tanggal" class="form-control" id="join_date" name="join_date" required>
              </div>
              <div class="form-group">
                <label for="division" required>Divisi</label>
                <input type="text" class="form-control" id="division" name="division_name" required>
              </div>
              <div class="form-group">
                <label for="job_title" required>Jabatan</label>
                <input type="text" class="form-control" id="job_title" name="job_title" required>
              </div>
              <div class="form-group">
                <label for="salary" required>Gaji</label>
                <input type="text" class="form-control" id="salary" pattern="[0-9]{1,}" name="salary" required>
              </div>
      		</div>


      		<button type="submit" class="action submit btn btn-success" >Submit</button>
        
        </form>
        </div> 
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
  </body>
</html>