<!DOCTYPE html>
<html>
  <head>
    <title>Auto Personalia - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body style="background: url('/img/login-background.jpg') 100%" id="login-body">

    <div class="container">
      <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title"><h3>Buat Password Baru</h3></div>
          </div>                     
          <div class="panel-body">
            <form id="setPasswordForm" class="form-horizontal" action="" method="POST">
              <div class="form-group">
                  <label for="email" class=" control-label col-sm-3">Password Baru</label>
                  <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" name="new_password" placeholder="create your new password">
                  </div>
              </div>
              <div class="form-group">
                  <label for="email" class=" control-label col-sm-3">Konfirmasi Password</label>
                  <div class="col-sm-9">
                      <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="confirm your new password">
                  </div>
              </div>
              <div class="form-group">
                <!-- Button -->                                 
                <div class="  col-sm-offset-3 col-sm-9">
                  <button id="reset-pw-button" type="submit" class="btn btn-success" disabled>Submit</button>
                </div>
              </div>                             
            </form>
          </div>
        </div>
      </div>             
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/set-password.js"></script>
  </body>
</html>