* {
    margin: 0;
    padding: 0;
}

/*  ##############  Â§     NAVBAR      Â§  ##############  */

#nav {
    background-color: #0FA3B1;
}

nav.navbar-default .navbar-brand {
    color: #FFFFFF;
}

nav.navbar-default .navbar-brand:hover {
    color: #FF9F1C;
}

#navbar-right > li > a {
    color: #FFFFFF;
}

#navbar-right > li > a:hover {
    background-color: #FF9F1C;
}

#navbar-right > li.active > a {
    background-color: #0FA3B1;
    border-color: #FF9F1C;
    border-bottom-style: solid;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FF9F1C;
    color: #FFFFFF;
}

h1.text-center {
    font-weight: bold;
}

ol.breadcrumb {
    background-color: rgba(15, 163, 177, .3);
}

.breadcrumb > li + li:before {
    color: #939393;
}

button.btn-default {
    background-color: #0FA3B1;
    color: #FFFFFF;
}

/*  ##############  Â§   UPLOAD CSV    Â§  ##############  */

.btn {
    background-color: #0FA3B1;
    color: #FFFFFF;
    border-color: #0FA3B1;
}

.btn:hover {
    background-color: #FF9F1C;
    border-color: #0FA3B1;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    color: #fff;
    background-color: #0fa3b1;
}

li.dropdown:hover > ul.dropdown-menu {
    display: block;
    border-color: #ff9f1c;
    border-bottom-style: solid;
    background-color: #fff;
}

li.dropdown:hover > ul.dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #ff9f1c;
}

.table {
    border-bottom-style: solid;
    border-color: rgba(147, 147, 147, .3);
}

/*  ##############  Â§   LOGIN    Â§  ##############  */

#login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#login-container {
    -webkit-box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.4);
    background-color: #0fa3b1;
    color: white;
    opacity: 0.7;
    border-radius: 10px;
}

#login-container input {
    width: 100%;
    color: black;
}

#login-button,
#reset-pw-button,
#register-button {
    background-color: white;
    color: #0fa3b1;
    float: right;
}

/*  ##############  Â§   RESET PASSWORD    Â§  ##############  */

.panel {
    border-color: rgba(15, 163, 177, 0.7);
    background-color: rgba(15, 163, 177, 0.7);
    color: white;
}

.panel-info > .panel-heading {
    background-color: rgba(15, 163, 177, 0);
    border-color: rgba(15, 163, 177, 0);
    color: white;
}

/*  ##############  Â§   REGISTER    Â§  ##############  */

#multiform_box {
    background-color: rgba(15, 163, 177, 0.7);
    border-color: rgba(15, 163, 177, 0);
    border-radius: 10px;
    vertical-align: middle;
}

#multiform_box h1 {
    color: white
}

#multiform_box .btn:active {
    background-color: #e59500;
}

.btn-info {
    background-color: white;
    color: #0fa3b1;
}

.btn-info:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    background-color: #e59500;
}

#confirmData td {
    padding-right: 15px;
}

.step,
.well {
    padding: 30px 40px;
}

.download-csv {
    margin-bottom: 0.5em;
}

/*
  HTML 5 Template Name:
  File: 404 - 2 CSS
  Author: OS Templates
  Author URI: http://www.os-templates.com/
  Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#fof {
    display: block;
    position: relative;
    width: 100%;
    min-height: 72vh;
    margin-top: 70px;
    background: url("../img/404.png") top left no-repeat;
    border-bottom: 2px solid #000000;
    line-height: 1.6em;
    text-align: center;
}

#fof .positioned {
    display: block;
}

#fof .hgroup {
    margin-bottom: 50px;
    padding-top: 300px;
    padding-left: 75px;
    margin-right: 15px;
}

#fof img {
    margin-bottom: 25px;
}

#fof p {
    display: block;
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 16px;
}

#fof #respond input {
    width: 200px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

#fof #respond #submit {
    width: auto;
}

/*  ##############  Â§   DAYOFF STATUS    Â§  ##############  */

#dayoff_table tr:hover {
    background-color: #ff9f1c;
}

#dayoff_table td:hover {
    cursor: pointer;
}

#permitTable tr:hover {
    background-color: #ff9f1c;
}

#permitTable td:hover {
    cursor: pointer;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    color: #ffffff;
    background-color: #ff9f1c;
}

@media only screen and (min-width: 1220px) {
    #show-password {
        margin-left: 3em;
    }
}
