<nav class="navbar navbar-default navbar-fixed-top" id="nav">
  <div class="container-fluid">
    <div class="navbar-header" id="nav-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard" style="width: 200px"><img src="/img/logo.png" style="width:100%; height: auto;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" id="navbar-right">
        <li class="{{#if perusahaan}}active {{/if}}dropdown"><a href="/job" class="dropdown-toggle" data-toggle="dropdown">Perusahaan</a>
          <ul class="dropdown-menu">
            <li><a href="/job">Lihat Struktur</a></li>
            {{#if user.is_admin}}
              <li><a href="/job/create">Tambah Struktur</a></li>
            {{/if}}
            <li><a href="/division">Lihat Divisi</a></li>
            {{#if user.is_admin}}
              <li><a href="/division/create">Tambah Divisi</a></li>
            {{/if}}
          </ul>
        </li>
        <li class="{{#if karyawan}}active {{/if}}dropdown">
          <a href="/employee">Karyawan</a>
          <ul class="dropdown-menu">
            <li><a href="/employee">Lihat Karyawan</a></li>
            {{#if user.is_admin}}
              <li><a href="/employee/create">Tambah Karyawan</a></li>
            {{/if}}
          </ul>
        </li>
        {{#if user.is_admin}}
          <li class="{{#if kehadiran}}active{{/if}}"><a href="/attendance">Kehadiran</a></li>
        {{/if}}
        <li class="{{#if cuti}}active {{/if}}dropdown"><a href="/dayoff">Cuti</a>
          <ul class="dropdown-menu">
            <li><a href="/dayoff/create">Ajukan Cuti</a></li>
            <li><a href="/dayoff">Lihat Status Cuti</a></li>
            {{#if user.is_admin}}
              <li><a href="/dayoff/view">Lihat Pengajuan Cuti</a></li>
            {{/if}}
          </ul>
        </li>
        {{#if user}}
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hai, {{user.name}} !<span class="caret"></span></a>
        {{/if}}
        <ul class="dropdown-menu">
          <li><a href="/employee/detail/{{user.id}}">Lihat Profil</a></li>
          <li><a href="/employee/edit/{{user.id}}">Ubah Profil</a></li>
          <li><a href="/logout">Keluar</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>